<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses weather stack and mapbox to fetch weather data of a place</p>
            <img class="portrait" src="/img/messi10.jpg">
        </div>
        {{>footer}}
    </body>
</html>